$bg: #3e4557;
$bg-alt: #d3bd8e;
$item-active: #545c71;
$item-inactive:  #454c5e;
$item-hover: #4b5366;

$color: #d3bb8f;
$color-alt: #84613b;
$color-white: white;

$color-border: #c7b180;



$bg-old: #282c34;
$color-old: #61dafb;


